:root{ 
  font-family: Arial, Helvetica, sans-serif;}
body{
  background-color: #51d0de;
  color: white;
}
.header{
  padding: 14px 16px;
  text-align: center;
  overflow: hidden;   
  border-bottom: solid;
  border-bottom-color: white;
}
.header--title{
  float: left;
}
.items--detail{
  float: right;
}

.footer{
  text-align: center;
}

